
/*** bootstrap override ***/
.nav>li>a {
  border-radius: 0 !important;
  border: none !important;
  color: #fff !important;
}
.nav-tabs>li>a {

  text-decoration:none;
}

.dropdown-menu{
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 1px;
}
.dropdown-menu>li>a{
  padding: 7px 0;
}

.clearfix {clear: both;}
.navbar{
  margin-bottom:0px;
}
.navbar-brand {

  float: none;
  padding: 0;
  display: block;
  position: absolute;
  z-index: 10;}
.nav > li > a:hover, .nav > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {background-color: transparent;}
.form-inline .form-group {margin-bottom: 4px; display: inline-block;}
.form-control {
  box-shadow: none;
  height: 50px;
  margin-bottom:0px;
  padding: 4px 18px;
  vertical-align: middle;
  -webkit-border-radius: 0;
  border-radius: 0;
  border:1px solid #e5e5e5;
  background-color: transparent;
  font-size: 18px;
  font-style: italic;
}


header .navbar-collapse.in {
  display:block;
}

.pagination {/*margin:88px 0 -20px;*/ margin: 10px 0 4px;}
.pagination [class^="arrow-icon-"]:before {width: auto;}
.pagination > li >  a {
  /*font-size: 0.8em;*/
  padding: 8px 15px;
  border:3px solid #222E47;
  margin-bottom: 10px;
  margin-right: 9px;
  display: inline-block;
  /*color: inherit;*/
  color: #222E47;
  background-color: transparent;
  border-radius: 0 !important;
}
.pagination > li:first-child >  a, .pagination > li:last-child >  a {
  border-color: #8CE2D8;
  padding: 8px 14px;
}
.pagination > li.active > a {background-color: #222E47; color:#fff; border-color:#222E47;}
.pagination > li > a:hover, .pagination > li.active > a:hover {background-color: #8CE2D8; border-color: #8CE2D8; color: #fff; }
.pagination > li.active > a {color:#fff;}
.carousel {
  padding: 30px 30px 70px;
}
.tab-content {/*border:1px solid #e1e1e1;*/ padding: 0; -webkit-border-radius: 2px; border-radius: 2px;
  background-color: #fff;
  padding: 20px 30px;
}
.nav-tabs {border-bottom-color: transparent;  font-size: 1em; margin-top: 00px; margin-bottom: -1px;}
.nav-tabs > li > a {padding: 13px 20px; color:#fff; margin-right: 0; margin-top: 0px; border-radius: 0px !important;
  background-color: #222E47;
  border:none !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color:#fff;
  border:none;
  background-color: #8CE2D8;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs.nav-justified > .active > a {
  color: #fff;
  background-color: #8CE2D8;
  border: none;
}
.alert {border: none;border-radius: 0; padding: 30px 30px 30px 30px;}
.alert.topalert {margin-bottom: 0; padding: 12px 40px 14px 16px; background-color: #8CE2D8; color:#fff; font-size: 18px;}
.alert-dismisble .close {top:0; opacity: 0.8;}
.btn {
  display: inline-block;
  padding: 6px 34px 6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  background-image: none;
  text-shadow: none;
  border-radius: 0;
  line-height: 24px;
  border:none;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.btn:hover {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.img-circle {border:10px solid rgba(255,255,255,0.2);}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #222E47;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border-color: #474747;
}
.table-bordered {
  border-color: #474747;
}
.table th{
  color: #fff;
  text-align: center;
}
.table>thead>tr>th{
  background-color: #8CE2D8;
  font-weight: normal;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
}


@media(min-width:994px){
  .container{width:964px; }
}


/*** vertical margins and paddings ***/
section {
  padding-top: 80px;
  padding-bottom: 100px;
}
#footer {padding-top: 80px; padding-bottom: 70px;}
#logo {padding-top: 30px; padding-bottom: 30px;}
#mainslider, #team_slider {padding: 0;}
#abovecontent {padding-top: 20px; padding-bottom: 20px;}
#partners {padding-top: 60px; padding-bottom: 60px;}
#copyright {padding-top: 52px; padding-bottom: 52px;}
.darkgrey_section + .darkgrey_section, .light_section + .light_section, .dark_section + .dark_section, .grey_section + .grey_section{
  padding-top: 5px;
}
.row + .row {
  margin-top: 10px;
}
.row + .bootstrap-row  {
  margin-top: 10px;
}
.bootstrap-row + .bootstrap-row {
  margin-top: 10px;
}
.title_section .row {display: table;}
.title_section [class*="col-"] {display: table-cell; vertical-align: middle; float: none;}


/*** general styles ***/
html, body {position: relative; width: 100%; height: 100%;}
::selection {
  background: #8CE2D8;
  color: #fff;
}


body {
  font-size: 18px;
  font-family: 'Gentona-Light', sans-serif;

  color: #222E47;
  background-color: #fff;
  /*overflow-y: scroll;
  overflow-x: hidden!important;*/
}

h1,
h2,
h3,
h4,
h5,
h6{

  line-height: 1;

  color: #222E47;
}
h1, h2, h3{
  font-family: 'Gentona-ExtraBold', sans-serif;
}
h5, h4{
  font-family: 'Gentona-Medium', sans-serif;
}
h1 {
  font-size: 3.333em;
}
h2{
  font-size: 2.677em;
}
h3 {
  font-size:1.444em;
}

.text-block  h3:after {
  content: "";
  width: 80px;
  height: 4px;
  display: block;
  background: currentColor;
  margin: 20px auto 20px;
}

.text-image p{
  line-height:1.2em;
}
h6{
  font-size:1.111em;
}

p{
  margin-bottom: 16px;
}
.extra_bold_center{
  text-align:center;
  font-family:'Gentona-ExtraBold', sans-serif;
  color:#222E47;
  font-size: 1.889em;
  line-height:1em;

}


section.no_padding .col-sm-1,
section.no_padding .col-sm-2,
section.no_padding .col-sm-3,
section.no_padding .col-sm-4,
section.no_padding  .col-sm-5,
section.no_padding  .col-sm-6,
section.no_padding  .col-sm-7,
section.no_padding  .col-sm-8,
section.no_padding  .col-sm-9,
section.no_padding  .col-sm-10,
section.no_padding  .col-sm-11,
section.no_padding  .col-sm-12,
section.no_padding .col-md-1,
section.no_padding .col-md-2,
section.no_padding .col-md-3,
section.no_padding .col-md-4,
section.no_padding  .col-md-5,
section.no_padding  .col-md-6,
section.no_padding  .col-md-7,
section.no_padding  .col-md-8,
section.no_padding  .col-md-9,
section.no_padding  .col-md-10,
section.no_padding  .col-md-11,
section.no_padding  .col-md-12,
section.no_padding  .col-lg-1,
section.no_padding  .col-lg-2,
section.no_padding  .col-lg-3,
section.no_padding  .col-lg-4,
section.no_padding  .col-lg-5,
section.no_padding  .col-lg-6,
section.no_padding  .col-lg-7,
section.no_padding  .col-lg-8,
section.no_padding  .col-lg-9,
section.no_padding  .col-lg-10,
section.no_padding  .col-lg-11,
section.no_padding  .col-lg-12,
section.no_padding  .col-xs-1,
section.no_padding  .col-xs-2,
section.no_padding  .col-xs-3,
section.no_padding  .col-xs-4,
section.no_padding  .col-xs-5,
section.no_padding  .col-xs-6,
section.no_padding  .col-xs-7,
section.no_padding  .col-xs-8,
section.no_padding  .col-xs-9,
section.no_padding  .col-xs-10,
section.no_padding  .col-xs-11,
section.no_padding  .col-xs-12{
  padding-left:0px !important;
  padding-right:0px !important;

}
section.hero-banner{
  padding-top:0px;
  padding-bottom:0px;
  height:auto;
  min-height:515px;
}
.hero-unit {
  position:relative;

  min-height:515px;
  width:100%;
  clear:both;
  background-size:cover !important;
}
span.half-page{
  width:50%;
  display:block;

}

.hero-banner.not-heading h2, .hero-banner.not-heading p span.half-page{
  color:#ffffff;



}

.hero-banner.not-heading p span.half-page{
  font-size:26px;
  line-height:1em;
}
.hero-banner .img-responsive-height{
  max-height:100%;
  height:515px;
  width:auto;
  display:block;

}
.container.hero-body{
  min-height:515px;
  display:block;
}
.hero-unit .container{
  position: relative;

  height: 100%;
}
.hero-banner{
  background-color:#f2f2f2;
}
div[id^='hero-hidden']{

  padding:60px 15px;
  min-height:300px;

}
div[id^='hero-hidden'] p{
  font-size:0.889em !important;
  color: #222E47;
}
span.large-text{
  font-size:1.444em;
  margin-top:0px;
  color:#666666 !important;
  font-family:'Gentona-Light', sans-serif;
  line-height:1.5em;
}
div[id^='hero-hidden'] .btn-default{
  margin-top:24px;
}

.hero-btn-group{
  margin-top:24px;
}
.center{
  text-align:center;
}
section.hero-banner .container{
  padding-top:60px;
  color:#ffffff;

}
section.hero-banner .container h1{
  color:#ffffff;
}
section.hero-banner .container p{
  font-size:2.222em;
  line-height:1em;
}
section.hero-banner a+a{
  margin-left:15px;
}

section.two-column-text-image{
  background-color:#222E47;
  padding-top:0px;
  padding-bottom:0px;

}
section.two-column-text-image .col-sm-6{
  padding-top:40px;
}
section.two-column-text-image .col-sm-6 +.col-sm-6, section.two-column-text-image .col-sm-6 > .col-sm-4{
  padding-left: 0px;
  padding-top:0px;
  padding-right:0px;
  background-color:#8ce2d8;
}
section.two-column-text-image h4, section.two-column-text-image p{
  color:#ffffff;
  font-size:1em;
}
section.two-column-text-image h4{
  padding-bottom:10px;
  font-size:1.625em;
}
section.two-column-text-image .container{
  width:100%;

}


@media(max-width:981px) and (min-width:768px){

  section.two-column-text-image h4{

    font-size:1.35em;
  }
  section.two-column-text-image .col-sm-6{
    padding-top:15px;
  }


}
@media(min-width:768px){
  section.accordion-section .collapse{
    display:block !important;

  }
  ul.nav-main.collapse{
    display:block !important;
  }

  body.down header.sticky{
    top:0;
    left:0;
    right:0;
    position:fixed;


  }

  #header-spacer {
    min-width: 1000px;
    height: 130px;
    display:none;
  }
  #header-spacer.sticky{
    display:block;
  }
}


section.accordion-section{
  padding-top:35px;
  padding-bottom:35px;
  background-color:#ffffff;
}
section.accordion-section.grey{
  background-color:#f2f2f2;
}
.accordion-section .text-area{
  max-width:60%;
}
.accordion-section .text-area a{
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  overflow: hidden;

}

.team-text-image .image-area{
  margin-right:20px;
  width:130px;
  float:left;
}
.team-text-image .image-area img{
  max-height:130px;
  width:auto;

}
.team-text-image{
  background-color: #8CE2D8;
  width:100%;
  min-height:130px;


}

.team-text-image .text-area{
  float:left;
  padding-top:25px;
  font-size: 0.778em;
  line-height:1em;

  min-height:130px;
  display:inline-block;

}
.profile-one-column .team-text-image{
  display:table;
}
.profile-one-column .team-text-image .image-area{
  margin-right:0px;
}
.profile-one-column .team-text-image .image-area img{
  height:308px;
  width:308px;
}
.profile-one-column .team-text-image .text-area{
  background-color:#f2f2f2;

  font-size:1em;
  width:calc(100% - 308px);
  padding:40px;
}


.team-name{
  color:#222E47;
  font-family:'Gentona-ExtraBold',sans-serif;
  font-size:2.222em;


}

.team-name:after{
  content:"";
  width:80px;
  height:4px;
  display:block;
  background:currentColor;
  margin:20px 0px 20px 0px;

}
.team-title{
  font-size:1.444em;
  font-family: 'Gentona-Light', sans-serif;


}

@media (max-width:767px){
  .profile-one-column .team-text-image{
    max-width:308px;
    margin:0px auto;
  }
  .profile-one-column .team-text-image .image-area{
    float:none;
  }
  .profile-one-column .team-text-image .text-area{
    padding:30px 20px;
    width:100%;

  }
  .team-name{
    color:#222E47;
    font-family:'Gentona-ExtraBold',sans-serif;
    font-size:1.333em;


  }
  .team-title{
    font-size:1.111em;
    font-family: 'Gentona-Light', sans-serif;


  }

}
section.accordion-section .row .col-sm-6:nth-of-type(odd){
  padding-right:7px;
}
section.accordion-section .row .col-sm-6:nth-of-type(even){
  padding-left:7px;
}
@media(max-width:992px) {
  .team-text-image .image-area {
    margin-right: 10px;
  }
}

@media(max-width:767px){
  section.accordion-section .col-sm-6{
    padding-left:15px;

  }
  .team-text-image .image-area{
    width:160px;
  }
  .team-text-image .image-area img{
    max-height:160px;
  }
  .team-text-image{
    min-height:160px;
  }
  .team-text-image .text-area{
    font-size:0.889em;
  }
  .accordion-section .container{
    border-bottom:1px solid #222E47;

  }
  section.accordion-section{
    padding-top:0px;
    padding-bottom:0px;
  }
  section.accordion-section .collapse.in .row:last-child{
    margin-bottom:20px;
  }

  section.accordion-section a.team-accordion:before {
    color: #222e47;
    content: '\f106';
    font-family: "fontawesome";
    font-size: 1.5em;
    line-height:0.75em;
    font-style: normal;
    font-weight: 900;
    padding:10px ;
    background-color: #8CE2D8;
    float:left;
    width:40px;
    height:40px;
    vertical-align: middle;
    margin-right:20px;
    margin-top: 15px;
  }
  section.accordion-section a.team-accordion.collapsed:before  {
    color: #222e47;
    content: '\f107';
    font-family: "fontawesome";
    font-size: 1.5em;
    line-height:0.75em;
    font-style: normal;
    font-weight: 900;
    padding:10px ;
    background-color: #8CE2D8;
    float:left;
    width:40px;
    height:40px;
    vertical-align: middle;
    margin-right:20px;
    margin-top: 15px;
  }
}
@media(max-width:480px){

  section.accordion-section .row .col-sm-6{
    padding-left:15px !important;
    padding-right:15px !important;

  }
  .team-text-image .image-area{
    width:100%;
    float:none;
    clear:both;
    margin-right:0px;
  }
  .team-text-image .image-area img{
    height:auto;
  }
  .team-text-image{
    min-height:300px;
  }
  .team-text-image .text-area{
    font-size:0.889em;
  }
  .team-text-image .image-area img{
    height:auto;
    width:100%;
    max-height:100%;

  }
  .team-text-image .text-area{
    float:none;
    padding:30px 15px;
  }
  .team-text-image .text-area p {
    margin-bottom: 0px;
  }
}

.video_section .vio-container{
  float:right;

}
.player-controls{
  overflow:hidden;
}

.grey-bg{
  background-color:#f2f2f2;
  padding:20px;
}
p span.heading{
  font-family:'Gentona-ExtraBold', sans-serif;


}

.grey-bg p{
  margin-bottom:0px;
  font-size:1.444em;
  line-height:1em;

}

p span.margin-bottom-20{
  margin-bottom:20px;
  display:block;


}
.three-column-blocks .col-sm-4 {
  background-color: #8CE2D8;
  padding: 10px 20px 30px 20px;
}
@media (min-width:768px) {
  .three-column-blocks .col-sm-4 {

    width: 32.33333333%;
    margin-right: 1.5%;
  }
}
.three-column-blocks .col-sm-4:last-child{

  margin-right:0px;
}

.three-column-blocks .btn-default{
  width:100%;
  text-align:center;

}

@media (min-width: 768px){
  .container{
    width:100%;
  }

}

@media (max-width:850px) and (min-width:768px){
  span.fix-height{
    display:block;
    min-height:100px;
  }
}
@media( max-width:767px){
  body .grey-bg{
    margin-left:0px;
    margin-right:0px;
  }

  p span.heading{
    font-size:1.222em;


  }
  .grey-bg p{
    font-size:1.111em;
  }

}
section.profile-one-column .team-text-image .image-area{
  width:auto;

}

section.profile-one-column .team-text-image .image-area img{
  max-height:308px;
  max-width:308px;
  float:left;
}

@media (max-width: 767px) {

  .row.reorder-xs {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    direction: rtl;
  }

  .row.reorder-xs > [class*="col-"] {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);

    direction: ltr;
  }

}



@media(max-width:768px){
  .video_section .vio-container{
    float:none;
    clear:both;
    margin:0px auto;


  }

  .video_section .col-sm-6{
    text-align:center;
  }
}



section.bg-image ul{
  margin:0px auto;
  width:auto;
}
section.bg-image li {
  padding-left: 25%;
  text-align:left;
  list-style: none;
}

section.bg-image li:before {
  content: '\f00c'; /* FontAwesome char code inside the '' */
  font-family: "FontAwesome"; /* FontAwesome or whatever */
  display: inline-block;
  width: 1.2em;
  margin-left: -1.2em;
}​


 a:hover{
   color:#666666;

 }
a#close-hero-extra , a#close-hero-extra:hover, a#close-hero-extra:visited, a#close-hero-extra:focus{
  color:#666666;
  font-size: 1.556em;
  font-family: 'Gentona-Medium', sans-serif;
  float:right;
  margin-right:15px;
}
.rm-icon-arrow-down:before {
  text-decoration: none !important;
}
.rm-icon-arrow-down{
  background-image:url('../img/chevron.png');
}

.hero-anchor{
  text-align:center;
}
.rm-icon-arrow-down{
  background-image:url('../img/chevron.png');
  background-repeat: no-repeat;
  height: 21px;
  width:50px;
  padding:60px 0px 40px;
  background-position:50% 50%;
  display:block;
  margin:0px auto;

}
.rm-icon-arrow-down:hover{
  background-position: 50% 65%;
}
@media (max-width: 767px) {
  section.hero-banner .container p{
    font-size:1.389em;

  }
  .hero-unit {
    min-height:450px;
  }
  section.hero-banner{
    min-height:450px;
  }
  section.hero-banner .container{
    padding-top:20px;

  }

  section.hero-banner a.btn-default,   section.hero-banner a.btn-primary{
    width:100%;
    margin-bottom:20px;
    text-align:center;
  }
  section.hero-banner a+a{
    margin-left:0px;
  }
  div[id^='hero-hidden']{
    padding-left:15px;
    padding-right:15px;
  }
  span.half-page{
    width:100%;

  }
}


img.bg-responsive-img{
  position:absolute;
  height:100%;

}

.image-icon i {
  color: #8CE2D8;
}

sup, .sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -0.5em;
}
sub, .sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  bottom: -0.25em;
}

img {max-width: 100%;}
body p a {
  color: #666666;
  text-decoration: underline;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

a:hover img {
  opacity: 0.8;
}

h1 >a, h2 >a, h3 > a, h4 > a, h5 >a ,h6> a{
  color: #222E47;
}
iframe{border:none; max-width: 100%;}

/*** utilites ***/
.not_found {color:#222E47; font-weight: 700; font-size: 200px; line-height: 1;  margin:20px 0 0px;}
.not_found + h1 {text-transform: uppercase;}
/*
.not_found + h1 + h5 {font-weight: 400; font-size: 18px;}
*/
.highlight, #response {color: #8CE2D8;}
#response {margin:10px 0;}
.color_section #response { color: #fff; }
.grey {color: #222E47;}
.big {font-size: 1.8em; font-weight: 700; line-height: 1.3em;}
.vertical-margin-20 {margin:20px 0 !important;}
.vertical-margin-40 {margin:40px 0 !important;}
.vertical-margin-60 {margin:60px 0 !important;}
.negative-margin-60 {margin-top: -60px !important;}

.text-center .block-header:before, .text-center.block-header:before {
  left: 50%;
  margin-left: -85px;
}
.text-center .block-header:after, .text-center.block-header:after {
  left: 50%;
}
@media (min-width:992px){
  .container{
    width:964px;
  }
}
@media (max-width: 767px) {
  .block-header {font-size: 40px; margin-top: 0;}
  .block-header:before, .text-center.block-header:before {
    left: 50%;
    margin-left: -85px;
  }
  .block-header:after, .text-center.block-header:after {
    left: 50%;
  }

}
@media (max-width: 407px) {
  .block-header {font-size: 30px;}
}
@media (max-width: 369px) {
  .not_found {font-size: 160px;}
}
.block-header + p {font-size: 14px; margin-bottom: 44px;color: #b3b3b3;margin-top: 29px;}
.color_section .block-header:after {
  color: #222E47;
}
.color_section .block-header:before {
  background-color: rgba(255,255,255,0.3);
}




.no-padding-left {
  padding-left:0px;
}

.no-padding-right{
  padding-right:0px;
}

@media (max-width:767px) {
  .heading-padding-left {
    padding-left: 15px;
  }
}
/*** buttons ***/
.theme_btn {
  font-size: 14px;
  font-weight: 300;
  border: 3px solid #8CE2D8;
  color: #222E47;
  padding: 20px 21px;
  line-height: 1;
  letter-spacing: 0px;
  text-transform: uppercase;
  display: inline-block;
  background-color: transparent;

  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}



/*styled lists*/
ul.list1 {list-style:none; padding-left: 22px;}
ul.list1 li{position: relative; padding: 4px 0 4px;}
ul.list1 li:before{content: ''; display: block; position: absolute; border: 2px solid #8CE2D8; left:-19px; top: 10px; width: 10px; height: 10px; border-radius: 100%;}
ul.list2 {list-style:none; padding-left: 20px;}
ul.list2 li{position: relative; padding: 4px 0 4px;}
/*ul.list2 li + li {border-top: 1px solid rgba(0,0,0,0.1);}*/
ul.list2 li:before{ font-family: 'fontello'; content: '\e82c'; font-size: 18px; display: block; position: absolute; color:#8CE2D8; left:-18px;}
ol.list3 {
  counter-reset: li;
  list-style: none outside none;
  margin-bottom: 4em;
  padding: 0;
}
ol.list3 li{position: relative; padding: 8px 0 8px 34px;}
ol.list3 li:after{
  content: counter(li, decimal-leading-zero) ".";
  counter-increment: li;
  position: absolute;
  left:2px;
  top:50%;
  margin-top: -12px;
  font-weight: 700;
  /*border-radius: 100%;*/
  color:#222E47;
  width: 26px;
  height: 26px;
  /*background-color: #8CE2D8;*/
  text-align: center;
  line-height: 26px;
}
/*ol.list3 li + li {border-top: 1px solid rgba(100,100,100,0.2);}*/

#map img {max-width: inherit;}

/*light*/
.light_section, [class*="_section"] .light_section{
  background-color: #ffffff;
  color:#222E47;
}
.light_section strong, [class*="_section"] .light_section strong{
  color: #222E47;
}

.light_section h1, [class*="_section"] .light_section h1,
.light_section h2, [class*="_section"] .light_section h2,
.light_section h3, [class*="_section"] .light_section h3,
.light_section h4, [class*="_section"] .light_section h4,
.light_section h5, [class*="_section"] .light_section h5,
.light_section h6, [class*="_section"] .light_section h6{
  color: #222E47;
}
.light_section a,
[class*="_section"] .light_section a {
  color:#8CE2D8;
}
.light_section a:hover,
[class*="_section"] .light_section a:hover{
  color:#222E47;
}
.light_section a[class^="socialico-"]:before,
[class*="_section"] .light_section a[class^="socialico-"]:before {}
.light_section a[class^="socialico-"]:hover:before,
[class*="_section"] .light_section a[class^="socialico-"]:hover:before{}
.light_section .theme_btn{
  color: #222E47;
}

/*grey*/
.grey_section, [class*="_section"] .grey_section {
  background-color: #f2f2f2;
  /*background-color: #eee;*/
  color:#222E47;
}
.grey_section h1, [class*="_section"] .grey_section h1,
.grey_section h2, [class*="_section"] .grey_section h2,
.grey_section h3, [class*="_section"] .grey_section h3,
.grey_section h4, [class*="_section"] .grey_section h4,
.grey_section h5, [class*="_section"] .grey_section h5,
.grey_section h6, [class*="_section"] .grey_section h6 {
  color: #222E47;
}
.grey_section a, [class*="_section"] .grey_section a {
  color:#8CE2D8;
}
.grey_section a:hover, [class*="_section"] .grey_section a:hover{
  color:#222E47;
}
.grey_section a[class^="socialico-"]:before,
[class*="_section"] .grey_section a[class^="socialico-"]:before  {}
.grey_section a[class^="socialico-"]:hover:before,
[class*="_section"] .grey_section a[class^="socialico-"]:hover:before{}
.grey_section .theme_btn{
  color: #ffffff;
}
.grey_section .view-project .theme_btn{
  color: #222E47;
}

.grey_section .theme_btn:hover{
  color: #fff;
}

/*color*/
.color_section .carousel {
  border: none;
}
.color_section .carousel-indicators li {
  border-color: #8CE2D8;
}
.color_section .carousel-indicators li.active {
  background-color: #8CE2D8;
  border-color: #222E47;
}
.color_section, [class*="_section"] .color_section {
  background-color: #8CE2D8;
  color: #ffffff;
}
.color_section .form-control {background-color: #fff; border-color: #fff; color: #222E47;}

.color_section h1, [class*="_section"] .color_section h1,
.color_section h2, [class*="_section"] .color_section h2,
.color_section h3, [class*="_section"] .color_section h3,
.color_section h4, [class*="_section"] .color_section h4,
.color_section h5, [class*="_section"] .color_section h5,
.color_section h6, [class*="_section"] .color_section h6 {
  color: #ffffff;
}
.color_section a, [class*="_section"] .color_section a {
  color: #222E47;
}
.color_section a:hover, [class*="_section"] .color_section a:hover {
  color: #8CE2D8;
}
.color_section [class*="rt-icon-"]  {
  color: #fff;
}
.color_section a[class^="socialico-"]:before,
[class*="_section"] .color_section a[class^="socialico-"]:before  {
}
.color_section a[class^="socialico-"]:hover:before,
[class*="_section"] .color_section a[class^="socialico-"]:hover:before{
}
.color_section .theme_btn, .color_section .theme_btn.inverse{
  border-color: #8CE2D8;
  background-color: #8CE2D8;
  color: #ffffff;
  /*color: #8CE2D8;*/
}

.color_section .block-header strong {color: #8CE2D8;}

/*dark*/
.dark_section, [class*="_section"] .dark_section {
  background-color: #222E47;
  color:#fff;
}
.dark_section h1, [class*="_section"] .dark_section h1,
.dark_section h2, [class*="_section"] .dark_section h2,
.dark_section h3, [class*="_section"] .dark_section h3,
.dark_section h4, [class*="_section"] .dark_section h4,
.dark_section h5, [class*="_section"] .dark_section h5,
.dark_section h6, [class*="_section"] .dark_section h6 {
  color: #fff;
}
.dark_section a, [class*="_section"] .dark_section a {
  color: #fff;
}
.dark_section a:hover, [class*="_section"] .dark_section a:hover {
  color: #8CE2D8;
}
.dark_section a[class^="socialico-"]:before,
[class*="_section"] .dark_section a[class^="socialico-"]:before  {}
.dark_section a[class^="socialico-"]:hover:before,
[class*="_section"] .dark_section a[class^="socialico-"]:hover:before{}
.dark_section .theme_btn{
  background-color: #8CE2D8;
  color: #fff;
}
.dark_section .form-control {
  border: 1px solid #4b4b4b;
  color: #fff;
}
/*dark_grey*/
.darkgrey_section, [class*="_section"] .darkgrey_section {
  background-color: #e4e4e4;
  color:#8CE2D8;
}
.darkgrey_section h1, [class*="_section"] .darkgrey_section h1,
.darkgrey_section h2, [class*="_section"] .darkgrey_section h2,
.darkgrey_section h3, [class*="_section"] .darkgrey_section h3,
.darkgrey_section h4, [class*="_section"] .darkgrey_section h4,
.darkgrey_section h5, [class*="_section"] .darkgrey_section h5,
.darkgrey_section h6, [class*="_section"] .darkgrey_section h6 {
  color: #222E47;
}
.darkgrey_section a, [class*="_section"] .darkgrey_section a {
  color: #8CE2D8;
}
.darkgrey_section a:hover, [class*="_section"] .darkgrey_section a:hover {
  color: #fff;
}
.darkgrey_section a[class^="socialico-"]:before,
[class*="_section"] .darkgrey_section a[class^="socialico-"]:before  {}
.darkgrey_section a[class^="socialico-"]:hover:before,
[class*="_section"] .darkgrey_section a[class^="socialico-"]:hover:before{}
.darkgrey_section .theme_btn{
  background-color: #8CE2D8;
  color: #fff;
}
.darkgrey_section .form-control {
  border: 1px solid #4b4b4b;
  color: #fff;
}

.darkgrey_section .block-header:before {
  background-color: #505050;
}
.with-top-border .container,
.with-bottom-border .container {
  position: relative;
}
.with-top-border .container:before,
.with-bottom-border .container:after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  left: 15px;
  right: 15px;
  top: 0;
  background-color: #fff;
  opacity: 0.7;
}
.with-bottom-border .container:after{
  top: auto;
  bottom:0;
}

#middle .grey {color: #222E47;}
#middle .color {color: #8CE2D8;}

#header-sticky-wrapper {
  left: 0;
  right: 0;
  z-index: 10000;
  height: auto !important;
}
.frontpage #header-sticky-wrapper {
  /*position: absolute;
  background-color: transparent;*/
}
#header {

  left: 0;
  right: 0;
  border-bottom: 4px solid #8CE2D8;;
  z-index: 10000;
  height: 130px;
}
.topbar{
  margin-top:28px;
}
.topbar ul.nav-tabs  li{
  list-style:none;

}
.topbar .nav-tabs>li>a{
  background-color:transparent;
}
.icon-user{

  display: inline-block;
  background: url('../img/login-white.png') no-repeat scroll 0 0 transparent;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  vertical-align: middle;
  margin-top: -4px;

}
.icon-phone{
  display: inline-block;
  background: url('../img/phone-white.png') no-repeat scroll 0 0 transparent;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  vertical-align: middle;
  margin-top: -4px;
}
.topbar .nav-tabs>li>a{
  padding-left:5px;
}



@media (max-width: 767px) {


  #header a.navbar-brand img{
    height:31px !important;
    margin-left:15px;
    margin-top:18px;
  }

  .topbar {
    height:45px;
    background-color:#ffffff;
    color:#222E47;

  }
  .topbar a,  .topbar a:hover,  .topbar a:visited,  .topbar p, .topbar li {
    font-family:'Gentona-Medium',sans-serif;
    font-size:0.889em;
    vertical-align: middle;
    line-height:1em;
    padding-top:10px;
  }

  .topbar ul.nav-tabs li{
    text-align:center;
  }

  .icon-user{


    background: url('../img/login-blue.png') no-repeat scroll 0 0 transparent;
    height:24px;
    width:24px;


  }
  .icon-phone{

    background: url('../img/phone-blue.png') no-repeat scroll 0 0 transparent;
    height:24px;
    width:24px;

  }

  .nav-tabs > li > a , .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li > a:visited {
    color:#222E47;
  }
  .topbar.visible-xs{
    margin-left:-15px;
    margin-right:-15px;
    margin-top:0px;
    border-top: 4px solid #8CE2D8;

  }
  #header{
    border-bottom:0px none !important;
    height:auto;
  }
  li.join-btn{
    background-color:#222E47;
    border:0px none;
    text-align:center;
  }

}






h2.heading_with_line{
  text-align:center;
}

h2.heading_with_line:after{
  content:"";
  width:80px;
  height:4px;
  display:block;
  background:currentColor;
  margin:20px auto 50px;

}

.nav-main>li.join-btn>a{

  border: 2px solid #FFFFFF;
  min-height: 35px;
  min-width:140px;
  padding: 6px 20px;
  background-color:#8CE2D8;
  color:#222E47;
  margin-right:0px;
  text-align:center;

}
.nav-main>li.join-btn>a:hover, .nav-main>li.join-btn>a:focus{
  background-color:#ffffff;
  color:#222E47;
  border: 2px solid #8CE2D8;
  text-decoration:none;
}


.nav-main .dropdown-menu {
  background-color: rgba(34, 46, 71, 0.8);
}
.nav-main  b.caret {
  display:none;
}
@media (max-width: 339px) {
  .welcome-box .title1 {
    font-size:40px;
  }
}


/*info_block*/
.numbers_blocks .row{
  clear:both;
}
.text-block > .row + .row{
  margin-top:60px ;
}
.post_info {


  padding: 10px;
  position: relative;
  text-align: center;

}
.post_info p{
  height:120px;
}



@media(min-width:768px) and (max-width:991px){
  .post_info p{
    height:160px;
  }
  .post_info h4 {
    height:80px;
  }
}

@media(max-width:767px){
  .post_info p{
    height:auto;
  }
  .text-block > .row + .row{
    margin-top:20px ;
  }
}
.link_section{
  padding-top:0px;
  padding-bottom:0px;
  background-color:#8CE2D8;
  height: 3.333em;
  text-align:center;


}
.link_section h4 a{
  line-height:1.6em;
}

/*banner-box*/
.banner-box .title {
  color: #ffffff;


  margin: 0 0 9px;

}
.banner-box p{

  font-size:2.222em;
  line-height:1em;
  margin-bottom:60px;
}

.banner-box a:hover{
  background-color: #fff;
  color: #222E47;
  border:2px solid  #222E47;

}
/*event*/
@media (max-width: 991px) and (min-width: 768px) {
  #events h2 {
    font-size: 24px;
  }

}

/*mission*/
#mission .mission_block a {
  margin-top: 10px;
}



/*team*/
#team h4 {
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: bold;
}


/*footer*/
footer {
  background: none repeat scroll 0 0 #222E47;
  color: #ffffff;
  font-size: 0.889em;
  padding-top: 30px;
}



footer .container{
  padding-bottom:55px;


}
footer h4{
  color:#8CE2D8;
  font-size:0.944em;
  font-family: 'Gentona-Medium',sans-serif;
}
footer a, footer a:hover, footer a:visited, footer a:focus {
  color:#fff;
}
footer ul{
  padding-left:0px;
}
footer ul li{
  list-style:none;
}
footer .footer-grey{
  background-color:#f2f2f2;
  color:#222E47;
  font-size:0.667em;
  padding: 20px 0px;
}
footer img+img{
  padding-left:15px;
}
footer .footer-grey .container{
  padding-bottom:0px;
}
footer .footer-grey ul li{
  float:left;
}
footer .footer-grey a, footer .footer-grey a:hover, footer .footer-grey a:visited, footer .footer-grey a:focus{
  color:#222E47;
}
footer .footer-grey p{
  margin-bottom:0px;
}
footer .col-sm-6 .col-sm-6{
  padding-left:0px;
  padding-right:0px;
}
footer h4:before{
  content: "";
  width: 80px;
  height: 4px;
  display: block;
  background: #fff;
  margin:  0px 0px 13px 0px;
}
.footer-menu-right{
  margin-top:53px;
}
.footer-grey li { padding-right:10px  }
.footer-grey li+li { border-left: 1px solid  #222E47; padding-left:10px; }

@media (max-width: 767px) {
  body footer h4 {
    font-size:0.944em;
  }
  body footer ul li a, body footer p{
    font-size:0.889em;
  }
  footer .col-sm-6 .col-sm-6{
    padding-left:15px;
    padding-right:15px;
  }



}
/*trading logo*/
@media (max-width: 767px) {
  #logo .navbar-brand {
    max-width: 240px;
    display: inline-block;
  }
  .navbar{
    margin-bottom:0px;
  }

  .join-btn-section{
    background-color:#222E47;
    padding:20px 40px;

    margin-left:-30px;
    margin-right:-30px;

  }
  .navbar-collapse.in{
    overflow-y:visible;
  }
  li.dropdown > a:after{
    font-family: 'fontawesome';
    content: '\f107';
    font-style: normal;
    font-weight:900;
    font-size:1.5em;
    position: absolute;
    right: 0px;
    top: 5px;
    color:#222E47;
  }
  li.dropdown.open > a:after{
    font-family: "fontawesome";
    content: '\f106';
    font-style: normal;
    font-weight:900;
    font-size:1.5em;
    position: absolute;
    right: 0px;
    top: 5px;
    color:#222E47;
  }
  li.dropdown.active {
    padding-bottom: 10px;
  }
  li.dropdown.open + li > a{

    border-top: 1px solid #222E47;


  }


  ul.nav-main li:nth-last-child(2)> a{
    border-bottom:0px none !important;

  }

  .join-btn-section .btn-primary{
    margin:0px auto;
    width:100%;
    text-align:center;
  }
  .navbar-collapse{
    min-height:420px;
    max-height:10000px;
    height:auto;
    overflow-y: scroll;

  }
}
.is-sticky #header .navbar-brand {
  top:5px;
  max-width: 180px;
}
@media (max-width: 991px) and (min-width: 768px) {
  .is-sticky #header .navbar-brand {
    display: none;
  }
}
@media (max-width: 417px){
  .is-sticky #nav-main .navbar-brand {
    display: none;
  }
}

.form-row, .form-row .col-sm-6, .form-row .col-xs-7, .form-row .col-xs-5{
  margin-bottom:30px;

}
.form-row label{
  font-weight:normal;
  font-size:0.889em;
}
.form-row input [type="text"], .form-row select,  .form-row select.form-control{
  padding:5px;
  border:solid 1px #222E47;
  background-color:#ffffff;
  border-radius: 0px;
}

.form-row input{

  width:100%;
}
.span .required{
  font-size:0.889em;
}
.grey_section .form-control {background-color: #fff; }



form .btn-primary{
  width:50%;

}
.form-control{
  font-style:normal;
  border: 1px solid #222E47;
  height:40px;
}

form label.error{
  color:#FF0000;
  font-size:0.889em;

}
.form-control.error, .form-row select.form-control.error{
  border:1px solid #FF0000 !important;
}

.form-row select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background: #ffffff url('../img/drop-down.png') no-repeat  right 8px center;
  cursor:pointer;

  background-size:18px;




}


@media (max-width:767px) {
  form .btn-primary {
    width: 100%;
  }
}




#map {height: 400px;}
#abovecontent {font-size: 14px;}



/*** main menu styles ***/
.mainmenu_wrap:before, .mainmenu_wrap:after {display: table; content:""; clear:both;}

.is-sticky #mainmenu {margin-top: 0px;}
.nav-main, .nav-main * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-main li {
  position: relative;
}
.nav-main ul {
  position: absolute;
  display: none;
  top: 100%;
  z-index: 10000;
}
.nav-main > li {
  /*float: left;*/
  display: inline-block;

}

.navbar {
  border: 0px none;

}
.nav-main a {
  display: block;
  position: relative;
}
.nav-main ul ul {
  top: 0;
  left: 100%;
  margin-left: 20px;
  margin-top: -20px;
}

/*menu skin*/
.nav-main {
  text-align: right;
}
.nav-main ul {
  /*box-shadow: 2px 2px 6px rgba(0,0,0,.2);*/
  min-width: 12em; /* allow long menu items to determine submenu width */
  *width: 12em; /* no auto sub width for IE7, see white-space comment below */
  padding: 10px;
  background-color: #e1e1e1;
  margin-top: 2px;
}

.nav-main>li>a {
  padding: 27px 0.5em 10px 0.5em;

  color: #ffffff;
  position: relative;
  font-size: 1.056em;


  font-family:"Gentona-ExtraBold";

}


.nav-main li {
  white-space: nowrap; /* no need for Supersubs plugin */
  *white-space: normal; /* ...unless you support IE7 (let it wrap) */
  -webkit-transition: background .2s;
  transition: background .2s;
}
.nav-main ul li {
  /*background: #fff;*/
  text-align: center;
}
.nav-main ul li a{
  color: #222E47;
}


/*submenu active item*/
@media(min-width:768px) {
  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #ffffff;
  }
  .nav-main li:hover > ul,
  .nav-main li.sfHover > ul{
    display: table-cell;
  }

  .nav-main li.dropdown .dropdown-menu li {

    text-align: left !important;
    text-indent:1em;
    padding-right:10px;
  }
  .nav-main li.dropdown .dropdown-menu li a{

    font-family:'Gentona-Medium',sans-serif;
    color:#ffffff;

  }
  .nav-main li.dropdown .dropdown-menu li a:hover, .nav-main li.dropdown .dropdown-menu li a:focus{
    background-color:transparent;
    color:#8CE2D8;
    text-decoration: underline;
  }


}

@media (max-width: 767px) {
  .container {
    width: 100% !important;
  }
}

/*Menu Mobile Layout*/
@media (min-width: 768px){


  .navbar-brand{
    top:-25px;
  }
  .nav-main>li:hover>a,
  .nav-main>li.sfHover>a,
  .nav-main>li.active>a {
    color: #8CE2D8;
    border-bottom:4px solid #8CE2D8;
  }


}
@media (max-width: 991px){

  .nav-main ul {text-align: left;}
}
@media (max-width: 767px) {
  .nav-main {
    z-index: 100000;

    text-align: left;

  }
  ul.nav-main li a{
    border-bottom:1px solid #222E47;
  }
  ul.nav-main li ul li a, ul.nav-main li.active a{
    border-bottom:0px none;
  }
  ul.nav-main li a:hover, ul.nav-main li a:focus{
    color:#666666;
  }
  .navbar-brand{
    margin-left:15px;
  }
  .mainmenu_wrap{
    background-color:#f4f4f4;
    width:100%;
    float:left;
    min-height:1px;
    position:relative;
    padding-left:15px;
    padding-right:15px;


  }
  .navbar-header{
    background-color: #222E47;
    margin-left:-15px;

  }
  .nav-main > li > a{
    padding:15px 0px;
  }
  .nav-main li a, .nav-main>li.active>a{
    font-family:'Gentona-ExtraBold', sans-serif;
    font-size:1em;
    color:#222E47;

  }
  .nav-main>li:hover>a, .nav-main>li.sfHover>a,{
    color:#666666;

  }
  .nav-main li > a:hover, .navbar .nav-main li >  a:focus {
    text-decoration: none;
  }


  .footer-menu-right{
    margin-top:0px !important;
  }
  .nav-main li:hover,
  .nav-main li.sfHover,
  .nav-main>li.active {
    background: transparent;
  }


  .navbar-toggle {

    cursor: pointer;
    background-color:#8CE2D8;

    text-align:right;
    float:right;
    padding:21px 18px;
    margin-right:-15px;
    margin-top:0px;
    margin-bottom:0px;
    border-radius: 0px;

  }

  .navbar-toggle .icon-bar {
    margin:0 0 3px 0;
    display: block;
    height: 3px;
    width: 30px;
    background-color:  #222E47;
  }
  .nav-main > li {
    display: block;
    padding: 0;
    float:none;
  }
  .nav-main > li + li{
    border-left: none;
  }

  .nav-main>li>a:before {
    display: none;
  }
  .nav-main ul {
    position: static;
    opacity: 1 ;
    padding: 0 0 0 20px;
    margin-top: 0;
    /*margin: 0 0 0 20px;*/
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent !important;

  }
  .nav-main ul li > ul {
    display:none;
    opacity: 0;

  }
  .nav-main ul li.open > ul ,  .nav-main ul li.current > ul{
    display:block;
    opacity: 1 !important;

  }
  .nav-main ul li, .nav-main ul ul li {
    text-align: left;
    padding: 0;
    background-color: transparent;
  }
  .nav-main ul.dropdown-menu{
    padding-left:0px;
  }
  .nav-main ul.dropdown-menu li a{
    font-family:"Gentona-Light", sans-serif;
    font-size:0.889em;
  }
  .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    text-decoration: underline;
  }

  .nav-main  .dropdown-menu>.active>a, .nav-main .dropdown-menu>.active>a:hover, .nav-main .dropdown-menu>.active>a:focus{
    color:#666666;
    text-decoration: underline !important;
  }
  #copyright {text-align: center;}
  #copyright .widget_nav_menu ul {float:none;}
}

.menu-item-number,
.menu-item-desc {display: none; color:#8CE2D8;
  font-size: 12px; letter-spacing: 0px;}
.is-sticky .menu-item-number,
.is-sticky .menu-item-desc {display: none !important;}

/*** blocks ***/
.block > h3 {font-size: 24px; margin: 0 0 23px;}
aside .block + .block {margin-top: 30px;}
/*** latest works carousel ***/
.latest-works .owl-wrapper{
  /*padding-bottom: 50px;*/
}
.latest-works.owl-carousel {padding-top: 80px;}
.latest-works h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 14px 0;
}
.latest-works h3 a{
  color: #222E47 !important;
}
.latest-works h3 a:hover{
  color:#8CE2D8 !important;
}
.latest-works .portfolio_links {padding-bottom: 50px;}
.latest-works .portfolio_links + div {
  text-align: center;
  padding: 18px 10px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  margin-top: -50px;
  -webkit-transition:0.2s all ease;
  -moz-transition:0.2s all ease;
  -o-transition:0.2s all ease;
  transition:0.2s all ease;
}

/*timetable*/

#timetable_filter {padding: 0;}
#timetable_filter li {
  display: inline-block;
  margin-right: -1px;
}


.table-responsive .table a {
  display: block;
  text-align: center;
  padding:8px;
  margin: -8px;
  background-color: #fff;
  color: #222E47;
}
.table-responsive .table a:hover {
  color: #fff;
  background-color: #8CE2D8;
}

.btn-default{
  background: none repeat scroll 0 0  #222E47;

  color: #ffffff;
  border:2px solid #fff;
  display: inline-block;
  font-family:'Gentona-ExtraBold',sans-serif;
  margin: 0;
  padding: 0.5em 20px;

  position: relative;
  text-decoration: none!important;
  text-shadow: none;
  transition: all 0.25s ease 0s;

}
.btn-primary{
  background: none repeat scroll 0 0 #8CE2D8;

  color: #222E47;
  border:2px solid #fff;
  display: inline-block;

  margin: 0;
  padding: 0.5em 20px;

  position: relative;
  text-decoration: none!important;
  text-shadow: none;
  transition: all 0.25s ease 0s;

}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color:#ffffff;
  border:2px #8CE2D8 solid;
  color:#222E47;

}
a.btn-default {
  color: #ffffff;
  font-family:'Gentona-ExtraBold',sans-serif;
  font-size:18px;
}
a.btn-primary, input.btn-primary{
  color:#222E47;
  font-family:'Gentona-ExtraBold',sans-serif;
  font-size:18px;
}
a.btn-primary:hover, input.btn-primar:hover{
  background: none repeat scroll 0 0  #ffffff;
  color: #222E47;
  border-color: #8CE2D8;
}
/** numbers_blocks section **/

section.numbers_blocks .text h3, section.numbers_blocks .text-image h3{

  padding-0p:2
margin-top:5px;2px;

  font-family: 'Gentona-ExtraBold', sans-serif;

  font-size: 3.333em;

}
section.numbers_blocks .text h3:after, section.numbers_blocks .text-image h3:after{
  content:"";
  width:80px;
  height:4px;
  display:block;
  background:currentColor;
  margin:22px 0px;

}
section.numbers_blocks .text-image{
  padding:15px  15px 0px 15px;
  background-color:#8CE2D8;
  height:255px;


}
section.numbers_blocks [class*="col-"] + [class*="col-"] {margin-bottom: 15px;}
section.accordion-section [class*="col-"] + [class*="col-"] {margin-bottom: 15px;}



@media (max-width: 991px) and (min-width: 768px) {


  .numbers_blocks .row:nth-child(even){
    margin-top:0px;
  }

}

@media (max-width: 767px) {

  section.numbers_blocks .text-image {
    padding: 0px 15px;
    background-color: #8CE2D8;
    min-height:135px;
    height: auto;

  }
  section{
    padding-top:40px;
  }

  section.numbers_blocks .text-image h3{

    padding-top: 0px;

    font-family: 'Gentona-ExtraBold', sans-serif;

    font-size: 3.056em;
    float:left;
    width:25%;

  }
  section.numbers_blocks .text-image p{

    padding-top:25px;
    margin-left:80px;
  }

  section.numbers_blocks .text-image h3:after {
    content: "";
    width: 60px;
    height: 4px;
    display: block;
    background: currentColor;
    margin: 10px 0px;

  }
  .no-padding-left {
    padding-left:15px;
  }

  .no-padding-right{
    padding-right:15px;
  }
}
/** end numbers_blocks section **/

@media (max-width: 767px) {
  body h1{
    font-size:1.944em;
  }
  body h2{
    font-size:1.833em;
  }
  body h3 {
    font-size:1.111em;
  }
  body h4{
    font-size:1.333em;
  }
  body h5{
    font-size:0.889em;
  }
  body h6{
    font-size:1em;
  }
  body p {

    font-size:0.889em;

  }
  .link_section h4 a{
    line-height:1em;
  }
}
@media screen and (max-width: 767px) {
  .title_section .row, .title_section [class*="col-"] {display: block;}
  [class*="col-"] + [class*="col-"] {margin-top: 0px;}
  [class*="col-xs"] + [class*="col-xs"] {margin-top: 0;}
  #portfolioContainer [class*="col-"] + [class*="col-"] {margin-top:20px; margin-bottom: 20px;}
  section{
    padding-bottom:60px;
  }
  section.numbers_blocks [class*="col-"] + [class*="col-"] {
    margin-bottom: 0px ;
  }

  .numbers_blocks .bootstrap-row + .bootstrap-row{
    margin-top:0px;
  }
}
